.m-service-icon {
  width: 175px;
  height: 175px;
  border-radius: 175px;
  border-radius: 50%;
  border: 3px solid $red-tint;
  margin: 0 auto;
  padding: 40px 0;

  @media #{$small-only} {
    margin-top: 1rem;
  }

  span {
    color: white;
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.7;
  }
}