.testimonial {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: $global-radius;

  img {
    margin-top: .5rem;
    border-radius: 50%;
    @include global-hover();
  }

  h4 {
    @media #{$small-only} {
      text-align: center;
    }

    @media #{$medium-up} {
      margin-top: 2rem;
    }
  }
}
