/* Webicons by Adam Fairhead: http://adamfairhead.com */

.webicon { 
  display: inline-block;
  background-size: 100%;
  width: 35px;
  height: 35px;
  text-indent: -999em;
  text-align: left;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: $global-radius;
  margin-bottom: 5px;
  @include global-hover();
  }


.webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

.webicon.round { 

  @extend .webicon;
  border-radius: 35px;
  border-radius: 100%;
  &:hover {
    filter: grayscale(0%);
    box-shadow: 2px 2px 7px $jet;
  }
}

/* restore webicons accessibility for print */
@media print {
  * {background: transparent !important; color: #000 !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important;}
  .webicon {text-indent: 0; width: auto !important; height: auto !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; border-radius: 0 !important;}
}

// Include or remove the icons you want to use on your site from this list.
$webicons-icons: behance dribbble facebook github googleplus instagram linkedin mail medium pinterest soundcloud stackoverflow twitter vimeo vine wordpress;

// Specify the path to the webicons directory here. Include trailing slash.
$webicons-url: "/images/webicons/" !default;

@each $webicons-icon in $webicons-icons {
  .no-svg .webicon.#{$webicons-icon}       { background: url("#{$webicons-url}webicon-#{$webicons-icon}-m.png"); }
  .no-svg .webicon.#{$webicons-icon}.large { background: url("#{$webicons-url}webicon-#{$webicons-icon}.png"); }
  .no-svg .webicon.#{$webicons-icon}.small { background: url("#{$webicons-url}webicon-#{$webicons-icon}-s.png"); }
  .svg    .webicon.#{$webicons-icon}       { background: url("#{$webicons-url}webicon-#{$webicons-icon}.svg"); }
}