extends layout

block content
  .row
    .small-12.medium-6
      .panel
        h1 &apos;Allo, &apos;Allo!
        p You now have
        ul
          li Foundation
          li Jade
          li HTML5 Boilerplate
          li Sass
