extends layout

block content
  .row
    .small-12.column
      h1 Woohoo!
  .panel.medium-4.medium-centered.columns
    h2 You've got
    ul
      li Zurb Foundation Bower (SASS)
      li Jade Language
      li SMACSS
      li BrowserSync
      li A fresh start for your project