extends layout

block content
  section#top.top(data-magellan-destination='top', name='top')
    .row
      h1.welcome.hide-for-small
        span.accent-color Be
        |  who 
        span.lead-color you
        |  were born to be
      |     
      h1.welcome.show-for-small Welcome
    |     
    .row
      .callout
        p.lead
          | My name is John Ellison. I&apos;m a Storyteller and a User Experience Designer. I design and build websites that 
          strong empower people to be who they were born to be.
    |     
    a(href='#journey-passion-video')
      .arrow.bounce
  |   
  .icon-bar.six-up.label-right.show-for-large-up(role='navigation', data-magellan-expedition='fixed')
    a.item(data-magellan-arrival='story', href='#story')
      i.fi-bookmark
      label#itemlabel1 Story
    |   
    a.item(data-magellan-arrival='portfolio', href='#portfolio')
      i.fi-photo
      label#itemlabel2 Portfolio
    |   
    a.item(data-magellan-arrival='services', href='#services')
      i.fi-compass
      label#itemlabel3 Services
    |   
    a.item(data-magellan-arrival='process', href='#process')
      i.fi-pencil
      label#itemlabel4 Process
    |   
    a.item(data-magellan-arrival='clients', href='#clients')
      i.fi-crown
      label#itemlabel5 Clients
    |   
    a.item(data-magellan-arrival='contact', href='#contact')
      i.fi-mail
      label#itemlabel6 Contact
  .icon-bar.three-up.hide-for-large-up(role='navigation')
    a.item(href='#portfolio')
      i.fi-photo
      label#itemlabel2 Portfolio
    |   
    a.item(href='#services')
      i.fi-compass
      label#itemlabel3 Services
    |   
    a.item(href='mailto:john@john-ellison.com?subject=I%20Saw%20Your%20Website', data-event='contact-button')
      i.fi-mail
      label#itemlabel6 Contact
  |   
  |   
  section#journey-passion-video.content-section
    .row
      .video-container
        h2 My Journey &amp; Passion
        |           
        #wistia_in4rxdz9mz.wistia_embed(style='width:1001px;height:591px;')
          div(itemprop='video', itemscope='', itemtype='http://schema.org/VideoObject')
            meta(itemprop='name', content='John Ellison — Journey & Passion')
            meta(itemprop='duration', content='PT2M40S')
            meta(itemprop='thumbnailUrl', content='https://embed-ssl.wistia.com/deliveries/030c548401f45eb631141e3d431c8820421034ed.bin')
            meta(itemprop='contentURL', content='https://embed-ssl.wistia.com/deliveries/168c1a84ad2da68ef7dc3dcf3fb3377bd6938668.bin')
            meta(itemprop='embedURL', content='https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2013-10-04&autoPlay=false&banner=false&controlsVisibleOnLoad=true&customColor=738196&endVideoBehavior=default&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=52854996&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fc4824cc484190f4aa6c56032580f177225536015.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=160.347&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F030c548401f45eb631141e3d431c8820421034ed.bin%3Fimage_crop_resized%3D1001x563&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F168c1a84ad2da68ef7dc3dcf3fb3377bd6938668.bin')
            meta(itemprop='uploadDate', content='2014-11-17T18:23:11Z')
            object#wistia_in4rxdz9mz_seo(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', style='display:block;height:563px;position:relative;width:1001px;')
              param(name='movie', value='https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2013-10-04')
              param(name='allowfullscreen', value='true')
              param(name='bgcolor', value='#000000')
              param(name='wmode', value='opaque')
              param(name='flashvars', value='autoPlay=false&banner=false&controlsVisibleOnLoad=true&customColor=738196&endVideoBehavior=default&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=52854996&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fc4824cc484190f4aa6c56032580f177225536015.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=160.347&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F030c548401f45eb631141e3d431c8820421034ed.bin%3Fimage_crop_resized%3D1001x563&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F168c1a84ad2da68ef7dc3dcf3fb3377bd6938668.bin')
              embed(src='https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2013-10-04', allowfullscreen='true', bgcolor='#000000', flashvars='autoPlay=false&banner=false&controlsVisibleOnLoad=true&customColor=738196&endVideoBehavior=default&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=52854996&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fc4824cc484190f4aa6c56032580f177225536015.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=160.347&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F030c548401f45eb631141e3d431c8820421034ed.bin%3Fimage_crop_resized%3D1001x563&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F168c1a84ad2da68ef7dc3dcf3fb3377bd6938668.bin', name='wistia_in4rxdz9mz_html', style='display:block;height:100%;position:relative;width:100%;', type='application/x-shockwave-flash', wmode='opaque')
            noscript(itemprop='description')
              p
                span(style='font-size: 1em;')
                  | John Ellison, Storyteller and UX Designer, shares his journey and passion in a short film by Canaan Hurst. From a young age, he found himself turning to life outside the classroom for his education and fulfillment. After dropping out of college to run an eCommerce business full-time, John found himself traveling the world. Led by his passions&mdash;the journey took him from the Middle East, to Europe, and to India. On his return he found himself looking for answers to questions he&rsquo;d never been asked before. What he found revealed a new potential&mdash;a higher purpose behind all that he&rsquo;d done. Something that could make the world a better place through what he loved. Watch the film by Canaan Hurst.
        script(charset='ISO-8859-1', src='//fast.wistia.com/assets/external/E-v1.js')
        script.
          wistiaEmbed = Wistia.embed("in4rxdz9mz", {
          videoFoam: true
          });
        script(charset='ISO-8859-1', src='//fast.wistia.com/embed/medias/in4rxdz9mz/metadata.js')
        |         
        caption
          p
            | Watch the short film by 
            a(href='http://vimeo.com/user22640897') Canaan Hurst
  // My Story
  section#story.content-section(data-magellan-destination='story', name='story')
    .row
      .story-content
        h2
          i.fi-bookmark
          |  My Story
        |       
        .row
          .story-text
            p.first
              | I was 
              em always
              |  bored in school. Since I was young I turned to life outside the classroom for my education. I built my first computer when I was 12, taught myself programming at 13, and started my first online business at 17 years old.
            |           
            |           
            p
              | After my first semester in college, I decided to run my eCommerce business full-time and let the world be my classroom&mdash;life experience my education.
            |             
            |           
            p
              | Everyone but my father told me what I was doing was wrong, that I should stay in school and get a degree, get a job and get a mortgage, drive a nice car and be happy&mldr;
            // TODO: Add readmore click to expand interaction
            .view-more
              a.view-more-link(href='#')
                | &mdash; Read 
                span.view-toggle More
                |  &mdash;
            |           
            .text-concealed
              p But that just didn&rsquo;t look like happiness to me.
              |             
              |             
              p
                | My passions carried me to Israel to learn Hebrew, to Egypt to help start a movement, to London to raise money and to India to design and build classrooms for children with special needs.
              |             
              |             
              p
                strong Then my world stopped.
              |             
              |             
              p My passion crippled into survival.  My desire &mdash; replaced by necessity.
              |             
              |             
              p I came back to the US humbled and confused &mdash; unsure of what to do with my life.
              |  
              |             
              |             
              p
                | With a new pair of eyes I looked back at my story and tried to find meaning and purpose in all that I&rsquo;d done.
              |             
              |             
              |             
              p
                | I saw that the web enabled me to do what I believed in and to make the world a better place through what I loved.
              |             
              |             
              p
                | I realized that with the tools of the web, I could help other people do the same&mldr;
              |             
              |             
              p
                | I began teaming up with passionate people who wanted to make a difference in the world.  I realized that my work is about so much more than making websites.  It&rsquo;s about understanding someone&rsquo;s story and empowering them to be who they were born to be.
              |             
              |             
              h3 What&apos;s your story?
              |             
              p I&apos;d love to see your story come to light and hear your vision for your life.
              |             
              a.button(data-event='contact-button', href='mailto:john@john-ellison.com?subject=Read%20Your%20Story') Email Me
  // /My Story
  // Portfolio
  section#portfolio.content-section(data-magellan-destination='portfolio', name='portfolio')
    .row
      .portfolio-items
        hrgoup
          h2
            i.fi-photo
            |  Portfolio
          |         
          h3.subheader Recent UX Projects
        |         
        |             
        ul.m-portfolio-list.small-centered
          li.m-block-item
            a(href='ux-portfolio/michael-mcdaniel.html')
              img.m-block-thumbnail(src='images/michael-mcdaniel-music.jpg', alt=' Michael McDaniel – UX Design', width='350')
          li.m-block-item
            a(href='ux-portfolio/thengine.html')
              img.m-block-thumbnail(src='images/thengine.jpg', alt=' Thengine – UX Design', width='350')
          li.m-block-item
            a(href='ux-portfolio/littleton-christian.html')
              img.m-block-thumbnail(src='images/littleton-christian.jpg', alt=' Littleton Christian – User-Centered Design', width='350')
          li.m-block-item
            a(href='ux-portfolio/roper-woodturning.html')
              img.m-block-thumbnail(src='images/roper-woodturning.jpg', alt=' Michael Roper - Website Design', width='350')
          li.m-block-item
            a(href='ux-portfolio/paja-construction.html')
              img.m-block-thumbnail(src='images/paja-construction.jpg', alt=' Paja Construction – Website Design', width='350')
          li.m-block-item
            a(href='ux-portfolio/project-dehradun.html')
              img.m-block-thumbnail(src='images/project-dehradun.jpg', alt=' Project Dehradun – Branding & Web Design', width='350')
    |   
    .row
      .purpose-paragraph
        h3 Purpose of My Work
        // TODO: Tweet this functionality
        p
          | My goal in every project is to help my clients take the next step in their business&mdash;to be known for what they love, and to do what they love well.
        |         
        span
          | A UX project is a journey where the needs of a business and its users dance with dissonance until they crescendo with harmony.
        |         
        p
      |     
      .freelance-paragraph
        aside
          h3 Do You Freelance?
          |             
          p
            | I provide 
            a(href='#services') coaching
            |  services to creative freelancers to help them do what they love for a living.
          |              
          p
            | If you like my work and want to share some ideas, I would love to hear from you.
    |   
    |   
    .row
      .get-in-touch
        h4 Get in Touch
        |       
        p Send me an email or follow me on Twitter if you&apos;d like to get in touch.
        |       
        .row
          .call-to-action
            a.button(data-event='contact-button', href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website') Send Me an Email
            |       
            a.button.secondary(href='https://twitter.com/iamjohnellison', data-size='large', data-lang='en', data-event='twitter-follow')
              | Follow Me on Twitter
            |       
            script(type='text/javascript').
              window.twttr = (function (d, s, id) {
              var t, js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src= "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
              return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
              }(document, "script", "twitter-wjs"));
  // //Portfolio
  section#services.content-section(data-magellan-destination='services', name='services')
    .row
      .services-content
        hgroup
          h2
            i.fi-compass
            |  Services
          |        
          h4.subheader I don&apos;t sell time, I sell value
    |   
    br
    |   
    .row
      .service-column
        figure.m-service-icon
          span  &lt; / &gt; 
        |        
        h3 Consulting
        |        
        p
          | I specialize in creating long-form story websites that convert traffic into sales. I use data to drive decisions to meet the needs of your business 
          em and
          |  your users. Want to learn more?
        |        
        a.button.secondary(href='mailto:john@john-ellison.com?subject=Your%20%20Consulting%20Services', data-event='service-contact-button') Tell Me About Your Project
      |      
      .service-column
        figure.m-service-icon
          span  &ldquo;...&rdquo; 
        |        
        h3 Coaching
        |        
        p
          | I empower creative freelancers to earn more stable income and be known for what they love to do. If you want to take the next step in your career, let&apos;s talk and see how I can help you.
        |        
        a.button.secondary(href='mailto:john@john-ellison.com?subject=Your%20Coaching%20Services', data-event='service-contact-button') Send Me A Message
      |      
      .service-column.end
        figure.m-service-icon
          span  [ ? ] 
        |        
        h3 Teaching
        |        
        p
          | Are you a part of a community looking for someone to speak about UX or storytelling? I&apos;d love to hear what you have in mind and come speak at your community or hold a workshop.
        |        
        a.button.secondary(href='mailto:john@john-ellison.com?subject=Your%20Teaching%20Services', data-event='service-contact-button') Let&apos;s Talk
  |   
  section#process.content-section(data-magellan-destination='process')
    .row
      .process-content
        h2
          i.fi-pencil
          |  Process
        |       
        h3.subheader Storytelling &amp; UX Design
        |       
        p
          | At the core of every project is a story. It is often several stories intertwined.
        |       
        |       
        |       
        p
          span
            | UX Design is about understanding each character in the story and crafting a design that empowers them to do what they love well.
        |       
        |       
        p
          | Unlike traditional web design which is a linear process with one large deliverable, my workflow represents a more adaptive methodology. Some call it 
          a(href='http://www.amazon.com/Lean-UX-Applying-Principles-Experience/dp/1449311652') lean ux
          | , and others call it 
          a(href='http://en.wikipedia.org/wiki/Iterative_design') iterative design
          | .
        |       
        p
          | My design decisions are driven by data and based upon a solid foundation of universal design principles.
        |       
        .view-more
          a.view-more-link(href='#')
            | &mdash; Read 
            span.view-toggle More
            |  &mdash;
        |       
        .text-concealed
          p
            | Behind my continually improving design workflow is a dedication to quality that resembles craftsmanship of old.
          |  
          |         
          |         
          p
            span
              | Writing code is like writing poetry. There is always a cleaner and more concise way to express an idea.
      |     
      .process-video
        img(src='images/john-ellison-ux-design-process.jpg', alt='my user experience design process')
        |       
        p
          | Video coming soon - directed and produced by 
          a(href='http://www.imdb.com/name/nm4896227/') Blake Talley
  |   
  section#clients.content-section(data-magellan-destination='clients')
    .row
      .small-12.columns.text-center
        h2
          i.fi-crown
          |  Clients
        |       
        h3.subheader Hear what my clients are saying
        |       
        p.lead
          | I am passionate about creating deep strategic partnerships with my clients. We not only share a vision to grow their business, but also a mission to make the world a better place.
      |     
      br
    |   
    .row.testimonial
      // TODO: insert retina size images
      .medium-3.columns.text-center
        a(href='http://pajaconstruction.com')
          img(src='images/cadmon-whitty-headshot.png')
          |           
          h5 Cadmon Whitty
      |       
      .medium-9.columns
        p.lead
          | &quot;As a direct result of 
          span.lead-color John&apos;s expertise
          | , I am now a top blogger, have been approached by a publisher to write a book, have 
          span.accent-color more leads than ever
          | ... and I have a feeling this is just the beginning.&quot;
    |   
    .row.testimonial
      .medium-3.medium-push-9.columns.text-center
        a(href='http://carcmedia.com')
          img(src='images/cory-arcarese-headshot.png')
          |           
          h5 Cory Arcarese
      |       
      .medium-9.medium-pull-3.columns
        p.lead
          | &quot;
          span.accent-color John is at the top of my list
          |  of &ldquo;go to&rdquo; people because of his experience, knowledge, and most importantly&mdash;his 
          span.lead-color superior listening skills
          | . Prepare to be impressed, John will exceed your expectations.&quot;
    |   
    .row.testimonial
      // TODO: insert retina size images
      .medium-3.columns.text-center
        a(href='http://roperwoodturning.com')
          img(src='images/roper-headshot.png')
          |           
          h5 Michael Roper
      |       
      .medium-9.columns
        p.lead
          | &quot;If it wasn&apos;t for the 
          span.lead-color amazing website
          |  John built me, I wouldn&apos;t have scored these video gigs or a bunch of the jobs I&apos;ve gotten lately. John doesn&apos;t just build you a website, he 
          span.accent-color builds you a business online
          | .&quot;
    |   
    .row.testimonial
      // TODO: insert retina size images
      .medium-3.medium-push-9.columns.text-center
        a(href='http://thengine.co')
          img(src='images/michael-catlin-headshot.jpg')
          |           
          h5 Michael Catlin
      |       
      .medium-9.medium-pull-3.columns.text-center
        p.lead
          | &quot;John 
          span.lead-color understood our vision
          |  and crafted it into reality. He was the guy who took charge and made it all happen. From 
          span.accent-color business strategy to user needs
          | , he was a rockstar.&quot;
  // Contact
  section#contact.content-section(data-magellan-destination='contact')
    .row
      .contact-content
        hgroup.text-center
          h2
            i.fi-mail
            |  Contact
          |           
          h3.subheader Want to get in touch?
    |   
    .row
      .contact-form
        form(method='post', action='//forms.brace.io/john@john-ellison.com')
          input(type='hidden', name='_subject', value='Contact Form on John-Ellison.com')
          |  
          |       
          input(type='hidden', name='_next', value='//www.john-ellison.com/thanks')
          |         
          p.lead
            | Hey John,
          |         
          p.lead
            | My name is 
            input.madlib(type='text', name='name', placeholder='Jon Doe...', required='')
            |  and I&apos;d like to talk to you about
            |           
            textarea.madlib(type='text', name='reason', list='reasons', placeholder='a website project...')
            |           
            datalist#reasons
              option a website project
              |             
              option freelance coaching
              |             
              option a teaching engagement
              |             
              option something else
            | .
          |         
          p.lead
            | You can reach me at 
            input.madlib(type='email', name='_replyto', placeholder='address@email.com', required='')
            |  or 
            input.madlib(placeholder='(123) 456-7891')
            | .
          |         
          p.lead
            | Thanks,
          |         
          p#name-from-above.lead
          |         
          |         
          p
          |         
          input(type='submit', value='Send Message', data-event='contact-form')
  // //Contact
  footer
    section.footer-top
      .row
        .contact-info
          img.contact-photo(src='images/john-ellison-wedding-headshot-right-150x150.png', alt='john ellison headshot')
          |         
          ul.social-list
            li
              a.webicon.mail.round(href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website') Email
            |           
            li
              a.webicon.twitter.round(href='twitter.com/iamjohnellison.html') Twitter
            |           
            li
              a.webicon.facebook.round(href='facebook.com/je4light.html') Facebook
            |           
            li
              a.webicon.googleplus.round(href='https://plus.google.com/+JohnEllison') Google+
            |           
            li
              a.webicon.linkedin.round(href='https://www.linkedin.com/in/jbellison') LinkedIN
            |           
            li
              a.webicon.instagram.round(href='http://instagram.com/jbellison11') Instagram
          |         
          p
            | My name is John Ellison. I&apos;m a Storyteller and a UX Designer with a passion for 
            strong empowering people to do what they love for a living.
        |     
        |       
        .get-updates
          h4 Get Weekly Updates
          |         
          p Be notified of any new stories, articles or content from my website.
          |         
          form(action='http://john-ellison.us9.list-manage1.com/subscribe/post', method='post')
            input(type='hidden', name='u', value='faa8882c79ff1f55de5ebdac1')
            |         
            input(type='hidden', name='id', value='112c655734')
            |         
            .row.collapse
              .medium-7.columns
                input.prefix(name='MERGE0', type='email', placeholder='your email')
              |           
              .medium-4.columns
                input.postfix.button.secondary(type='submit', href='#', value='Get Updates', data-event='subscribe')
    |   
    section.footer-bottom
      .row
        .footer-copyright
          h5 &copy; 2014 John Ellison LLC
          |         
          img.footer-logo(src='images/john-ellison-logo-92x150.png', alt='john ellison ux designer logo')
        |       
        .medium-2.columns
          h5 Tools
          |         
          ul
            li
              a(href='http://www.invisionapp.com/') InVision
            |           
            li
              a(href='http://ethn.io/') Ethnio
            |           
            li
              a(href='http://trello.com') Trello
            |           
            li
              a(href='http://mixture.io/') Mixture
            |           
            li
              a(href='http://www.sublimetext.com/3') Sublime
            |           
            li
              a(href='https://www.evernote.com/') Evernote
            |           
            li
              a(href='https://www.rescuetime.com/') RescueTime
        |  
        |     
        .medium-3.columns
          h5 Books
          |       
          |       
          |       
          ul
            li
              a(href='#') A Factory of One
            |         
            li
              a(href='#') A Project Guide to UX
            |         
            li
              a(href='#') Sketching User Experiences
            |         
            li
              a(href='#') The Art of Learning
            |         
            li
              a(href='#') The Elements of User Experience
            |         
            li
              a(href='#') UX For Lean Startups
            |         
            li
              a(href='#') Visual Usability
            |         
            li
              a(href='#') Web Analytics 2.0
        |     
        .medium-2.columns
          h5 Inspiration
          |       
          ul
            li
              a(href='http://www.adaptivepath.com/') Adaptive Path
            |         
            li
              a(href='http://iamdennisfield.com') Dennis Field
            |         
            li
              a(href='http://drewwilson.com/') Drew Wilson
            |         
            li
              a(href='http://gv.com') Google Ventures
            |         
            li
              a(href='http://beinghuman.is') Human Design
            |         
            li
              a(href='http://thoughtbot.com/') ThoughtBot
            |         
            li
              a(href='http://zell-weekeat.com/') Zell Liew
        |     
        .medium-2.columns
          h5 Learning
          |       
          ul
            li
              a(href='http://codecademy.com/') Codecademy
            |         
            li
              a(href='http://codeschool.com') CodeSchool
            |         
            li
              a(href='http://www.smashingmagazine.com/') Smashing Magazine
            |         
            li
              a(href='http://thesassway.com/') The Sass Way
            |         
            li
              a(href='http://uxmastery.com/') UX Mastery
            |         
            li
              a(href='http://zurb.com/university/lessons') Zurb University
