doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title John Ellison | Storyteller &amp; UX Designer
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href='../bower_components/foundation-icon-fonts/foundation-icons.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='//use.typekit.net/bzq0alk.js')
    script.
      try{Typekit.load();}catch(e){}
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    block content 
      
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56831522-1', 'auto');
      ga('send', 'pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/fastclick/lib/fastclick.js')
    script(src='../bower_components/jquery.cookie/jquery.cookie.js')
    script(src='../bower_components/jquery-placeholder/jquery.placeholder.js')
    script(src='../bower_components/foundation/js/foundation.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
