// Top

#top {
  background-image: url('/images/john-ellison-storyteller-1280x720-gradient.jpg');
  background-size: cover;

  @media #{$small-up} {
    background-image: url('/images/john-ellison-storyteller-640x1080-gradient.jpg');
    background-size: cover;
  }

  @media #{$medium-up} {
    background-image: url('/images/john-ellison-storyteller-980x551-gradient.jpg');
    background-size: cover;
  }

  @media #{$large-up} {
    background-image: url('/images/john-ellison-storyteller-1280x720-gradient.jpg');
    background-size: cover;
  }
  @media #{$xlarge-up} {
    background-image: url('/images/john-ellison-storyteller-1920x1080-gradient.jpg');
    background-size: cover;
  }
}
 .top {
  @include grid-column($columns:12, $center: true);
   padding-bottom: 5.5rem;

   @media #{$small-up} {
    padding-bottom: 4rem;
   }

   @media #{$medium-up} {
    padding-bottom: 5rem;
   }

   @media #{$large-up} {
    min-height: 735px;
   }

   @media #{$xlarge-up} {
    min-height: 890px;
   }
 }

 h1.welcome {
  font-weight: 900;
  color: $body-font-color;
  line-height: 1;
  text-align: center;
  text-shadow: 3px 5px 0 white;

  @media #{$small-up} {
    font-size: 3rem;
    margin: 2rem 0;
  }  

  @media #{$medium-up} {
    font-size: 5.3rem;
    margin: 3rem 0;
    transform: rotate(-5deg);
  }  
  
  @media #{$large-up} {
    font-size: 6.5rem;
    margin: 6rem 0 2rem 0;
  }  

@media #{$xlarge-up} {
    margin: 9rem 0 4rem 0;
  } 
  

 }

 .elaborate, .view-toggle  {
  display: inline !important;
 }

 .callout {
  padding: 20px 5px;
  border: 2px solid $red-tint;
  border-radius: $global-radius;
  margin-bottom: 3rem;
  color: white;
  background-color: none;
  
  @include grid-column($columns:12, $center: true);

  @media #{$medium-up} {
    @include grid-column($columns:7, $offset:5);
    transform: skew(-8deg) rotate(-5deg);
  }

  @media #{$large-up} {
    @include grid-column($columns:6, $offset:6);
  }

  > :first-child {
    margin-bottom: 0;
  }

 }


 .video-container {
  @include grid-column($columns:12, $center: true);
  text-align: center;
  padding: 0;
  p {
    margin-top: 1.5rem;
  }
 }

 #wistia_14_socialbar {
   margin: 1rem 0rem 1rem 4rem !important;
   text-align: center !important;
   @media #{$small-only} {
    display: none !important;
   }
 }

.content-section {
   padding: 4rem 0;

   @media #{$xlarge-up} {
    padding: 6rem 0;
   }
}

// secondary nav

.secondary-nav {
  @include icon-bar(
    // Set the background color of the icon bar. Default: $icon-bar-bg.
    $bar-bg: $body-font-color,
    //  Set the font color of the icon bar. Default: $icon-bar-font-color.
    $bar-font-color: $icon-bar-font-color,
    // Set the hover background color for the icon bar. Default: $icon-bar-hover-color.
    // $bar-hover-color,
    // Set the color of the icons for the icon bar. Default: $icon-bar-icon-color
    $bar-icon-color: $icon-bar-icon-color,
    // Set the background of the color when the icon bar is clicked or tapped on (or items within the icon bar). Default: $icon-bar-active-color.
    // $bar-active-color,
    // Set the padding for icon bar. Default: $icon-bar-item-padding.
    $padding: 1rem,
    // Set the font-size of the icon bar. Default: $icon-bar-font-size.
    // $font-size,
    // Set the size of the icons within the icon bar. Default: $icon-bar-icon-size.
    // $icon-size,
    // Set the width of /images within the icon bar. Default: $icon-bar-image-width
    // $image-width,
    // Set the height of /images within the icon bar. Default: $icon-bar-image-height
    // $image-height,
    // Assign whether or not base styles usually associated with the icon bar to appear the way it usually does should be included. Default: true.
    $base-style: true
    );
}

// Story

#story {

   @media #{$medium-up} {
     background: url('/images/john-ellison-wedding-headshot-1024x588.jpg');
     background-size: cover;
       h2 {
        color: black;
       }
       p {
        margin-bottom: .8rem;
        color: black;
       }
   }

    @media #{$large-up} {
     background: url('/images/john-ellison-wedding-headshot-1400x713.jpg');
     background-size: cover;
     padding: 8rem 0;
   }

   @media #{$xlarge-up} {
    padding: 10rem 0;
   }
   
}

.story-content {
  
  @include grid-column(12);

  .story-text {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(6);
    }

    p {
      line-height: 1.4;
    }

    p.first:first-child:first-letter { 
      float: left;
      color: $body-font-color;
      font-size: 2.75rem;
      line-height: 2.5rem;
      padding-top: 4px;
      padding-right: 8px;
      // padding-left: 3px;
      // margin-top: -5px;
      font-family: $header-font-family; 
      @media #{$medium-up} {
        color: black;
      }
    }    
  }

  // .video {
  //   @media #{$medium-up} {
  //     @include grid-column(
  //       $columns:6,
  //       $push: 6);
  //   }
  // }
}
 .call-to-action {
  @include grid-column($columns:12, $center: true);
  text-align: center;
  .button {
    margin-right: 1rem;
  }
}

.view-more {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: .2rem;
}

.text-concealed {
  display: none;
 }

 // Portfolio 

#portfolio {
   background-color: $smoke;
} 

 .portfolio-items {
   @include grid-column(12);

   hgroup {
    text-align: center;
   }
 }

 .purpose-paragraph {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column (7);
  }
 }

  .freelance-paragraph {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column (5);
  }
 }

 .get-in-touch {
  @include grid-column(12);

  @media #{$medium-up} {
    @include grid-column($columns: 8, $center: true);
  }
  padding: 2rem 1rem 4rem 1rem;
  border-radius: $global-radius;
  background-color: $blue-grey;
  text-align: center;
  color: white;

  h4 {
    color: white;
  }
 }

 // Services

.services-content {
  @include grid-column(12);
  text-align: center;
}



#clients {
  background-color: $smoke;

  p.lead {
    margin-top: 2rem;
  }
}

#services {
  @media #{$small-up} {
    background-image: url('/images/john-ellison-ux-wall-gradient-768x510.jpg');
    background-size: cover;
    h2, p {
    color: white;
  }
    h3 {
      color: $blue-grey-tint;
    }
  }
  @media #{$large-up} {
    background-image: url('/images/john-ellison-ux-wall-gradient-1024x680.jpg');
  }
  @media #{$xlarge-up} {
    background-image: url('/images/john-ellison-ux-wall-gradient-1920x1275.jpg')
  }
  
}

.service-column {
  @include grid-column(12);
  text-align: center;

  @media #{$medium-up} {
    @include grid-column(4);
  }
}



// Process

.process-content, .process-video {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(6)
  }
}

.process-video {
  @media #{$medium-up} {
    margin-top: 4rem;
  }
  text-align: center;

  img {
    margin-bottom: .8rem;
  }
}

// Contact

.contact-content {
  @include grid-column(12);
}
.contact-photo {
  text-align: center;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.contact-form {
  @include grid-column(12);
  padding: 2rem 1rem 4rem 1rem;
  border-radius: $global-radius;
  // @include linear-gradient($red, $blue);
  background-color: $blue-grey;
  color: white;

  @media #{$medium-up} {
    @include grid-column($columns: 8, $center: true);
    //margin-top: 5.7rem;
    @include global-hover;
  }

  h3 {
    text-align: center;
  }

  input, textarea {
    border: none;
    box-shadow: none;
    &.madlib {
      display: inline-block;
      width: auto;
      background: none;
      border-bottom: 3px solid white;
      text-align: center;
      color: white;
      font-size: 1.1944rem;
      line-height: 1.5;
      padding: 0;
      :focus {
        background: rgba(255,255,255,0.1);
        outline: 0;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
      &[name="name"] {
       @media #{$small-only} {
         width: 155px;
       }

      }
      &[type="text"]:focus {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }
    &[name="reason"] {
      width: 95%;
      text-align: left;
      @media #{$small-only} {
        width: 73%;
      }
    }
    &[type="tel"] {
      width: 185px;
    }
    &[type="submit"] {
      @include button;
      border-radius: $global-radius;
      float: right;
      @media #{$small-only} {
        margin-right: 1rem;
      }
    }
  }
}

//footer

footer {
  padding-bottom: 4rem;

  @media #{$large-up} {
    padding-bottom: 0;
  }
}

.contact-info {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(4);
  }
  text-align: center;
  h3, h4 {
    color: white;
  }
}

.get-updates {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column($columns: 7, $float: right);
    margin-top: 4.5rem;
  }

  text-align: center;

  h3, h4 {
    color: white;
  }

}


.social-list {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    // float: left;
  }

  .fi-mail {
    width: 48px;
    height: 48px;
  }
}

.footer-top {
  background-color: $blue-grey;
  padding: 2rem;
  a, p {
    color: white;
  }

}

.footer-bottom {
  padding: 2rem;
  background-color: $smoke;
  li {
    font-size: .8rem;
  }
}

.footer-copyright {
  @include grid-column(12);
  text-align: center;
  @media #{$medium-up} {
    @include grid-column(3);
  }
}

.footer-logo {
  width: 92px;
  height: 150px;
  margin-top: .4rem;
}

//Thanks 

.thank-you {
  padding: 6rem;
}
.thank-you-content {
  @include grid-column(12);
  text-align: center;

  h4 {
    color: #46925d;
  }
}

.back-to-home-content {
  @include grid-column(12);
  text-align: center;

  i {
    display: inline;
    width: 64px;
    height: 64px;
  }

  p {
    display: inline;
    color: white;
  }
}




 